
.App {
  text-align: center;
  margin: 0 auto;
  background-color: #f7f7f7;
	height: 100vh;
	padding: 0;
	margin: 0 auto;
	overflow-x: hidden;
}

.App-header button {
  padding: 5px;
  margin: 2px;
  font-size: 16px;
  border: none;
  background-color: #343434;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.App-header button:hover {
  transform: 6px;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #bcbcbc;
  color: #343434;
}

.note-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  justify-items: center;
  grid-gap: 50px;
  padding: 50px;
}

.note {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  min-height: 160px;
  height: fit-content;
  overflow-x:auto;
  text-overflow: ellipsis;
  white-space:pre-wrap;
  box-sizing: border-box;
  transition: all 0.3s ease;
  position: relative;
}

.note:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.note.editing {
  height: auto;
}

.note h2 {
  margin-top: 0;
}

.note-content input,
.note-content textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.note-actions {
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: absolute;
  bottom: 10px;
}

.note-actions button {
  padding: 5px;
  margin: 2px;
  font-size: 16px;
  border: none;
  background-color: #bcbcbc;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.note-actions button:hover {
  background-color: #343434;
}
